{# templates/namesearch.html #}

<html>
<head>
    <title>Favorites</title>
    <link rel="stylesheet" href="../static/styling.css"/>
</head>
<body>
    <h1>Favoritter"</h1>
    <p>Her er favorittene dine!</p>
    <div class="div1 splitscreen">
        <h3>Filmer</h3>
        <ul>
            {% for movie in movies %}
            <div class="row">
                <div class="column">
                    <img src="{{movie.poster}}" alt="Poster">
                    <div class="text-container">
                        <li>{{movie.title}}</li>
                        <li>{{movie.year}}</li>
                        <a href="/details?imdb_id={{movie.imdb_id}}">Mer info</a>
                        <br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    

    <div class="div2 splitscreen">
        <h3>Serier</h3>
        <ul>
            {% for serie in series %}
            <div class="row">
                <div class="column">
                    <img src="{{serie.poster}}" alt="Poster">
                    <div class="text-container">
                        <li>{{serie.title}}</li>
                        <li>{{serie.year}}</li>
                        <a href="/details?imdb_id={{serie.imdb_id}}">Mer info</a>
                        <br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>


</html>