{# templates/index.html #}

<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Filmsøk</title> 
</head> 
<body> 
	<h1>Søk med navn</h1>
	<form method="POST"> 
		<input name="namesearch"></input> 
		<input type="submit" value="Søk"> 
	</form> 
	<h1>Søk med ID</h1>
	<form method="POST"> 
		<input name="idsearch"></input> 
		<input type="submit" value="Søk"> 
	</form>
	<h1>Favoritter</h1>
	<a href="/favorites"><button>Se Favoritter</button></a>
</body> 
</html>
