{# templates/namesearch.html #}

<html>
<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="../static/styling.css"/>
</head>
<body>
    <h1>Resultater for "{{title}}"</h1>
    <h2>Her er resultatene:</h2>
    <div class="div1 splitscreen">
        <h2>Filmer</h2>
        <ul>
            {% for movie in movies %}
            <div class="row">
                <div class="column">
                    <img src="{{movie.poster}}" alt="Poster">
                    <div class="text-container">
                        <li>{{movie.title}}</li>
                        <li>{{movie.year}}</li>
                        <a href="/details?imdb_id={{movie.imdb_id}}"><button>Mer info</button></a>
                        <br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    

    <div class="div2 splitscreen">
        <h2>Serier</h2>
        <ul>
            {% for serie in series %}
            <div class="row">
                <div class="column">
                    <img src="{{serie.poster}}" alt="Poster">
                    <div class="text-container">
                        <li>{{serie.title}}</li>
                        <li>{{serie.year}}</li>
                        <a href="/details?imdb_id={{serie.imdb_id}}"><button>Mer info</button></a>
                        <br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>


</html>